groups:
  - name: example_alert
    rules:
      - alert: HighCPUUsage
        expr: avg(rate(node_cpu_seconds_total[5m]))> 0.8
        for: 60s
        labels:
          severity: warning
        annotations:
          summary: "High CPU usage detected"
